.botao {
    border-radius: 12px;
    background-color: gray;
}

#body_index {
    text-align: center;
    background-color: rgb(208, 204, 204);
}

#indextxt {
    font-size: 30px;
    text-align: justify;

  
  
    
}

#radio {
    width: 100%;
    height: 25rem;
    border-radius: 50px;
}

a {
    text-decoration: none;
    font-style: italic;
    color: black;
}

p {
    color: white;
}

header {
    font-size: 90px;
    text-align: center;
    border-top: 50px;
    color: rgb(25, 59, 101)
}

#botao_index {
    height: 70px;
    width: 350px;
    border-radius: 20px;
}

p1 {
    font-size: 40px;
    font-style: italic;
    color: rgb(25, 59, 101);
}

#logovr {
    height: 160px;
    width: 600px;
    border-radius: 20px;
}

il {
    font-size: 20px;
    text-align: center;
    list-style-type:none;
}

p {
    color: black;
    
    font-size: 20px;
}

h1 {
    font-size: 50px;
    color: rgb(5, 26, 75);
}

#tema1,
#tema2,
#tema3,
#tema4,
#tema5 {
    font-size: 80px;
    text-align: center;
}

#tema1txt,
#tema2txt,
#tema3txt,
#tema4txt {
    font-size: 41px;
    text-align: justify;
    margin-left: 200px;
}

#grupotxt {
   text-align: center;
    font-size: 25px;
}

#casaradio {
    width: 700px;
    height: 400px;
    border-radius: 20px;
    
}

#listatema2 {
    color: rgb(99, 19, 19);
    text-align: center;
}

#listatema2imp {
    color: red;
}

#espectro {
    width: 650px;
    height: 250px;
}

#listatema3 {
    font-size: 30px;
    color: rgb(32, 33, 20);
}

h2 {
    font-size: 50px;
    color: rgb(1, 1, 70);
}

p10 {
    font-size: 28px;
}

#tema3p {
    font-size: 30px;
}


